.room-info-details-container {
    display: flex;
    justify-content: start;
}

.room-info-details-container h3 {
    font-size: 32px;
    color: #407bff;
    margin-left: 10px;
}

.room-info-details-container span {
    font-size: 18px;
    color: #9e9e9e;
    margin-top: 4px;
}

.room-info-details-container span b {
    color: #263238;
}