.details-room-container {
    padding: 10px;
    font-size: 24px;
}

.details-room-card {
    padding: 10px;
}

.goback-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.goback-container svg {
    margin-left: 5px;
    color: #407BFF;
    transform: rotate(-180deg);
}

.goback-container h2 {
    margin-left: 15px;
    font-size: 1em;
    color: #263238;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.img-container {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    padding: 10px;
}

.img-container img {
    width: 80%;
}

.name-capacity-container {
    margin-bottom: 20px;
}

.name-capacity-container h1 {
    font-size: 1.1em;
    color: #263238;
    letter-spacing: -0.015em;
}

.name-capacity-container-span {
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.reserve-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.reserve-dropdown-container {
    margin-bottom: 20px;
    font-size: 18px;
}

.reserve-info {
    font-size: 20px;
}

.reserve-redirect-info {
    font-size: 16px;
    display: flex;
    align-items: end;
}

.description-container {
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    padding: 10px;
}

.description-container h2 {
    color: #9e9e9e;
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.description-container p {
    color: #9e9e9e;
    letter-spacing: -0.015em;
    font-size: 0.6em;
}

@media (min-width: 576px) {
    .details-room-container {
        padding: 20px;
        font-size: 32px;
    }

    .details-room-card {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .details-room-container {
        padding: 40px;
    }

    .details-room-card {
        padding: 40px;
    }

    .img-container img {
        width: 50%;
    }

    .description-container {
        padding: 20px;
    }

    .name-capacity-container {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .name-capacity-container {
        display: block;
    }

    .img-container img {
        /*height: 280px;*/
        height: 240px;
        width: auto;
    }

    /*.description-container {*/
    /*    min-height: 302px;*/
    /*}*/
}

@media (min-width: 1400px) {
    .img-container img {
        /*height: 480px;*/
        height: 400px;
        width: auto;
    }

    /*.description-container {*/
    /*    min-height: 502px;*/
    /*}*/
}